{% extends "flight/index.html" %}

{% block title %}
<title>Airplanes</title>
{% endblock %} 

{% block content %}
{% load humanize %}
  <div class="row">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade" id="zero">
<h3><a href="#one" data-toggle="tab" style="text-decoration:none;color:rgb(0, 0, 0);"><i class="glyphicon glyphicon-plane" style="color:gainsboro;"></i></a> {% if airplane_list %}<span class='ccalculated'>{{ airplane_list|length }}</span> <a href="#one" data-toggle="tab" style="text-decoration:none;color:rgb(0, 0, 0);">Airplane{{ airplane_list|length|pluralize }}</a>{% else %}<span class='ccalculated'>0</span> Airplanes{% endif %} <span class="pull-right"><a class="btn btn-xs btn-default" href="{% url 'flight-airplane-add' %}">Add airplane</a></span></h3>
<h5><quiet>An 'airplane' is an airplane. Besides physical attributes, an airplane has contract details, flight and availability rates, and maybe some other things.</quiet></h5>

        <div class='row'>
        <div style='height:440px;border:thick solid black;'>
        {% if entmap %}
        {% endif %}
        </div>
        </div>
      </div>
  <div class="tab-pane fade{% if not form %} in active{% endif %}" id="one">
<h3><a href="#zero" data-toggle="tab" style="text-decoration:none;color:rgb(0, 0, 0);"><i class="glyphicon glyphicon-plane" style="color:gainsboro;"></i></a> {% if airplane_list %}<span class='ccalculated'>{{ airplane_list|length }}</span> <a href="#zero" data-toggle="tab" style="text-decoration:none;color:rgb(0, 0, 0);">Airplane{{ airplane_list|length|pluralize }}</a>{% else %}<span class='ccalculated'>0</span> Airplanes{% endif %} <span class="pull-right"><a class="btn btn-xs btn-default" href="{% url 'flight-airplane-add' %}">Add airplane</a></span></h3>
<h5><quiet>An 'airplane' is an airplane. Besides physical attributes, an airplane has contract details, flight and availability rates, and maybe some other things. Click on its </quiet><strong>Name</strong><quiet> in the table below to get to an airplane's page.</quiet></h5>
{% if airplane_list %}
<div>
 <table class="table table-bordered table-condensed table-hover s" id="s1">
 	<thead>
	<th>Role</th>
	<th>Name</th>
	<th>Model</th>
	<th>Contract</th>
	<th>Gal</th>
	<th>Begins</th>
	<th>Ends</th>
	<th>MAP</th>
	<th>Day Off</th>
	<th>Flight Rates</th>
	<th>Avail Rates</th>
	<th>NonAvail Rates</th>
	<th>Flight Count</th>
	<th>Ret Gal</th>
 	</thead>
 	<tbody>
{% for airplane in airplane_list %}
	<tr>
		<td>{% if airplane.c.planerole %}{{ airplane.c.planerole }}{% else %}--{% endif %}</td>
		<td><strong><a href="{% url 'flight-airplane-detail' airplane.tail airplane.name %}">{{ airplane.name }}</a></strong></td>
		<td>{% if airplane.modelname %}{{ airplane.modelname }}{% else %}<span class='unk small'>NO DATA</span>{% endif %}</td>
		<td>{% if airplane.c.contract %}{{ airplane.c.contract }}{% else %}--{% endif %}</td>
		<td class='number'>{% if airplane.c.contractgallons %}{{ airplane.c.contractgallons|intcomma }}{% else %}--{% endif %}</td>
		<td>{% if airplane.c.effectivedate %}{{ airplane.c.effectivedate|date:"Y-m-d" }}{% else %}--{% endif %}</td>
		<td>{% if airplane.c.ends %}{{ airplane.c.ends|date:"Y-m-d" }}{% else %}--{% endif %}</td>
		<td class='number'><span class='ccalculated'>{% if airplane.c.ends and airplane.c.effectivedate %}{{ airplane.map }}{% else %}--{% endif %}</span></td>
		<td class='number'>{% if airplane.c.daysoff %}{% if airplane.c.daysoff|slice:':1' = '0' %}Su{% endif %}{% if airplane.c.daysoff|slice:'1:2' = '0' %}Mo{% endif %}{% if airplane.c.daysoff|slice:'2:3' = '0' %}Tu{% endif %}{% if airplane.c.daysoff|slice:'3:4' = '0' %}We{% endif %}{% if airplane.c.daysoff|slice:'4:5' = '0' %}Th{% endif %}{% if airplane.c.daysoff|slice:'5:6' = '0' %}Fr{% endif %}{% if airplane.c.daysoff|slice:'6:7' = '0' %}Sa{% endif %}{% endif %}</td>
		<td class='number'>{% if airplane.frate_list %}
		{% for rate in airplane.frate_list %}
		{% if forloop.first %}
			$<a href="{% url 'flight-airplane-ratelist' airplane.tail airplane.name %}">{{ rate.cost|floatformat:2|intcomma }}</a><br />
		{% else %}
			$<a href="{% url 'flight-airplane-ratelist' airplane.tail airplane.name %}">{{ rate.cost|floatformat:2|intcomma }}</a><br />
		{% endif %}
		{% endfor %}{% else %}<span class='unk small'>NO DATA</span>{% endif %}</td>
		<td class='number'>{% if airplane.arate_list %}
		{% for rate in airplane.arate_list %}
		{% if forloop.first %}
			$<a href="{% url 'flight-airplane-ratelist' airplane.tail airplane.name %}">{{ rate.cost|floatformat:2|intcomma }}</a><br />
		{% else %}
			$<a href="{% url 'flight-airplane-ratelist' airplane.tail airplane.name %}">{{ rate.cost|floatformat:2|intcomma }}</a><br />
		{% endif %}
		{% endfor %}{% else %}<span class='unk small'>NO DATA</span>{% endif %}</td>
		<td class='number'>{% if airplane.srate_list %}
		{% for rate in airplane.srate_list %}
		{% if forloop.first %}
			$<a href="{% url 'flight-airplane-ratelist' airplane.tail airplane.name %}">{{ rate.cost|floatformat:2|intcomma }}</a><br />
		{% else %}
			$<a href="{% url 'flight-airplane-ratelist' airplane.tail airplane.name %}">{{ rate.cost|floatformat:2|intcomma }}</a><br />
		{% endif %}
		{% endfor %}{% else %}<span class='unk small'>NO DATA</span>{% endif %}</td>
		<td class='number'><span class='ccalculated'>{% if airplane.trip_count %}{{ airplane.trip_count|intcomma }}{% else %}0{% endif %}</span></td>
		<td class='number'><span class='ccalculated'>{% if airplane.retardant_sum %}{{ airplane.retardant_sum|intcomma }}{% else %}0{% endif %}</span></td>
	</tr>
{% endfor %}
 	</tbody>
 </table>
</div>
{% else %}
	<div>
	<p>
	</p>
	</div>
{% endif %}
</div>
</div>
</div>
{% endblock %}

