{% extends "flight/fairs.html" %}

{% block content %}
{% load humanize %}
        <h1 style="margin: 30px">Cost Types</h1>
        <div style="margin: 30px">
        This page is intended to serve as a reference sheet for use in filling out the Cost data sheets in this template. This sheet contains accepted values for the "Cost Type" field. Only values matching those presented in this list will be able to be uploaded. Any other values will cause the entire template to be rejected by the FAIRS system. Use the values in the table below. 
        </div>
        <div style="margin: 30px">
            {% if costtype_list %}
            <table class="table table-striped">
                <tr>
                <th>CostType</th>
                <th></th>
                <th></th>
                </tr>
                {% for costtype in costtype_list %}
                    <tr>
                        <td>{{ costtype.costtype }}</td>
                        <td><a href="{% url 'edit_costtype' costtype.pk %}">edit</a></td>
                        <td>
                            <form method="POST" action="{% url 'delete_costtype' costtype.pk %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-sm btn-danger" value="delete"></input>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <p><a href="{% url 'create_costtype' %}">New cost type</a></p>
        </div>
{% endblock %}
