{% extends "flight/fueling_list.html" %}

{% block title %}
<title>Deleting Fueling for Airplane {{ thefueling.airplane.tail }} {{ thefueling.airplane.name }}</title>
{% endblock %}

{% block content %}
{% load humanize %}
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script> 
 <div class="row col-lg-6 col-md-6 col-sm-6">
 	<br>
 	<form class="well form-horizontal" method="POST" enctype="multipart/form-data" action="{% if thefueling %}{% url 'flight-fueling-delete' thefueling.id %}{% else %}{% endif %}">

    	<legend>{% if thefueling %}Deleting <quiet>Fueling</quiet> for Airplane {{ thefueling.airplane.tail }} {{ thefueling.airplane.name }}{% else %}{% endif %}</legend>
    	This is <strong>forever</strong> and <strong>completely irreversible</strong>. Don't do anything you'll regret. Maybe take a walk and come back later?
		{% for field in form %}
		{% ifequal field.name "author" %}
		<input type="hidden">{{ field }}</input>
		{% else %}
		<div class="form-group{% if field.errors %} has-error{% endif %}">
		<label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
		<div>{{ field }}
		{% if field.errors %}{% for error in field.errors %}
			<span class="help-inline">{{ error|escape }}</span>
		{% endfor %}{% endif %}
		</div>
		</div>
		{% endifequal %}
		{% endfor %}
		<br>
		<br>
          <div>
            <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove glyphicon-white"></i> {% if thefueling %}Delete Fueling{% endif %}</button>
            <a class="btn btn-default" href="{% if thefueling %}{% url 'flight-fueling-edit' thefueling.id %}{% else %}{% endif %}">Cancel</a>
          </div>
		{% csrf_token %}
	</form>
 </div>
{% endblock %}
