{% extends "flight/index.html" %}

{% block extrahead %}
<link href='//fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/fa-4.0.0/css/font-awesome.min.css">
<link href="/static/one-page-wonder.css" rel="stylesheet">
<style type="text/css">
/* Custom container */
.container { padding: 0 15px; margin: 0 auto; width: 100%;}
.row { padding: 0px; margin: 0 0;}
.map {height:440px;border:thick solid black;}
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:30px !important;}
h3 {margin-top:5px;}

styled {font-family: 'Carter One', cursive;}

.square {
    display: inline-block;
    height: 12px;
    width: 12px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.cyan {
    background-color: cyan;
}

.magenta {
    background-color: magenta;
}

.black {
    background-color: black;
}

quiet {color:#666;} /* grey */
ccalculated {color:#8B0000;} /* DarkRed */
dcalculated {color:#006400;} /* DarkGreen */
tcalculated {color:#8B0000; width:50px; margin-right:auto; text-align:right;}
tm {width:50px; float:right; margin-right:auto; text-align:right;}
rt {width:60px; float:right; margin-right:auto; text-align:right;}
lt {width:60px; margin-right:auto; text-align:right;}
label.text {cursor: text;}
span.lt {width:90px;}
unk {color:white;background-color:black;} /* white on black */
td.plane {width:100px;}
td.date1 {width:80px;}
td.date2 {width:80px;}
td.ex {background-color:white;border-left:thick solid #FF4500;}
td.total {background-color:white;border-top:thick solid;text-align:right;}
td.number {text-align:right;}
td.blank {background-color:white;}
tr.zg {background-color: #f9f9f9;} /* zebra */
tr.zb {background-color: #F0F8FF;} /* zebra */
dogreen {color:#556B2F;} /* DarkOliveGreen */
fgreen {color:#228B22;} /* ForestGreen */
ored {color:#FF4500;} /* OrangeRed */
/* a:visited {color:#4B0082;}  Indigo */
#id_effectivedate_0 {width:80px;}
#id_effectivedate_1 {width:50px; margin-left:5px;}
#id_dailyavailstart_0 {display:none;}
#xid_dailyavailstop_0 {display:none;}
#xid_nonavailstart_0 {display:none;}
#xid_nonavailstop_0 {display:none;}
#id_planestart_0 {display:none;}
#id_planestop_0 {display:none;}


table.s .tablesorter-header {
  cursor: pointer;
}
table.s .tablesorter-header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table.s .tablesorter-headerSortUp, table.s .tablesorter-headerSortDown {
  background-color: #f7f7f9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table.s .tablesorter-header:hover:after {
  visibility: visible;
}
table.s .tablesorter-headerSortDown:after, table.s .tablesorter-headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table.s .tablesorter-headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;background-color:white;border-top:thick solid;
}

    img.olTileImage {
        max-width: none;
    }

    .olLayerGooglePoweredBy {
      display: none;
    }

@media print {
      .visible-print  { display: inherit !important; }
      .hidden-print   { display: none !important; }
      a:link:after, a:visited:after {
        content: "";
      }
    }

.fa-rotate-45{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
	
</style>
{% endblock %}

{% block title %}
<title>Users</title>
{% endblock %} 

{% block pagetitle %}
{% endblock %}


{% block content %}
{% load humanize %}
<h3>{% if object_list %}<span class='ccalculated'>{{ object_list|length }}</span> User{{ object_list|length|pluralize }} {% else %}<span class='ccalculated'>0</span> Users {% endif %}</h3>
{% if object_list %}
{% load guardian_tags %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
{% for profile in object_list %}
<div class="square" style="width:148px;height:165px;padding:4px 4px 4px 4px;">
		<div class="square" style="width:136px;height:157px;padding:4px 4px 25px 4px;background-color:#FFFFF0;border:1px #DCDCDC solid;"><a href="/user/{{ profile }}/" class="square" style="width:128px;height:128px;background-color:#130f30;">{% if profile.avatar %}<img src="" alt="" class="logo" height="128" width="128">{% else %}{% endif %}</a></div>
</div>
{% endfor %}
</div>
{% else %}
<div>
	No users. What?
</div>
{% endif %}
{% endblock %}

{% block endscripts %}
<link href='/static/datepicker/datepicker.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/static/b-3.0.3/js/bootstrap.min.js"></script>
<script src="/static/tablesorter/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(function() {
    $("#s0").tablesorter();
});
</script>
<script type="text/javascript">
$(function() {
    $("#s1").tablesorter({
	    headers: {
	      1: { sorter: 'text' },
	      2: { sorter: "uslongDate" }
	    }
	});
    $("#s2").tablesorter({
	    headers: {
	      2: { sorter: "uslongDate" }
	    }
	});
});
</script>
<script src="/static/datepicker/bootstrap-datepicker.js"></script>
<script>
$(function(){
	$('#adate').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: 'True'
	});
	$('#bdate').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: 'True'
	});
});
</script>
<script>
$(function(){
    $('.container').tooltip({
      selector: "a[data-toggle=tooltip]",
      //placement: 'right'
    })
});
</script>
{% endblock %}